.survey {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}
.question {
    margin-bottom: 6px;
    margin-top: 16px;
}
body {
    font-size: 20px;
    margin: 0px;
    width: 100%;
}
textarea {
    width: 100%;
    max-width: 500px;
    height: 300px;
}
input[type="text_field"] {
    width: 100%;
    max-width: 500px;
    height: 30px;
}
textarea, input[type="text_field"] {
  font-size: 22px;
  border-radius: 6px;
  border: 1px solid;
  margin-top: 6px;
  padding: 6px;
}
.option input {
    margin-right: 12px;
    width: 20px;
    height: 19px;
}
.option {
    padding: 6px;
}